In [1]:
# Dependencies
# SQLite
import sqlite3
from sqlite3 import Error

# Python SQL toolkit and Object Relational Mapper
from sqlalchemy import create_engine, func, distinct
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# Pandas
import pandas as pd
import csv

In [2]:
""" Uncomment to create new database. """
# # Using Pandas to import csv to sqlite database
# conn = sqlite3.connect('happiness_ranks.sqlite')
# c = conn.cursor()
# # load data
# happy_df = pd.read_csv(r'C:\Users\Rudy\Desktop\happiness-project\Happiness\data\2019_world_happy_rankings.csv')
# # strip whitespace from headers
# happy_df.columns = happy_df.columns.str.strip()
# # drop data into database
# happy_df.to_sql('Rankings', conn, if_exists='append', index=False)

# conn.close()

' Uncomment to create new database. '

In [3]:
happy_database_path = 'happiness_ranks.sqlite'
engine = create_engine(f"sqlite:///{happy_database_path}", echo=False)
conn = engine.connect()

In [16]:
# Query ALL records in the Happiness Rankings table
happy_data = pd.read_sql("SELECT * FROM Rankings", conn)
happy_data.head(3)

,Overall rank,country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,latitude,longitude
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,NaN,NaN
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,NaN,NaN
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,NaN,NaN

In [18]:
# Create Rankings Class
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

# Object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()
Base.metadata.create_all(engine)

In [19]:
# Create a session to connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [20]:
# Class to serve as anchor point for the table
class Rankings(Base):
    __tablename__ = 'rankings'
    rank = Column(Integer, primary_key=True)
    Country = Column(String(255))
    Score = Column(Float)
    gdp_per_capita = Column(Float)
    social_support = Column(Float)
    life_expectancy = Column(Float)
    Freedom_to_choose = Column(Float)
    Generosity = Column(Float)
    Perception_of_corruption = Column(Float)
    latitude = Column(Float)
    longitude = Column(Float)

In [21]:
Base.metadata.tables

immutabledict({'rankings': Table('rankings', MetaData(bind=None), Column('rank', Integer(), table=<rankings>, primary_key=True, nullable=False), Column('Country', String(length=255), table=<rankings>), Column('Score', Float(), table=<rankings>), Column('gdp_per_capita', Float(), table=<rankings>), Column('social_support', Float(), table=<rankings>), Column('life_expectancy', Float(), table=<rankings>), Column('Freedom_to_choose', Float(), table=<rankings>), Column('Generosity', Float(), table=<rankings>), Column('Perception_of_corruption', Float(), table=<rankings>), Column('latitude', Float(), table=<rankings>), Column('longitude', Float(), table=<rankings>), schema=None)})

In [22]:
Base = automap_base()

In [23]:
Base.prepare(engine, reflect=True)

In [24]:
Base.classes.keys()

[]

In [ ]:
for row in session.query(Rankings, Rankings.Country).limit(5).all():
    print(row)

In [25]:
from sqlalchemy import inspect
inspector = inspect(engine)

In [26]:
inspector.get_table_names()

['HappinessRankings', 'Rankings']

In [27]:
columns = inspector.get_columns('happiness_ranks')
for column in columns:
    print(column["name"], column["type"])

In [23]:
engine.execute('SELECT * FROM happiness_ranks LIMIT 5').fetchall()

OperationalError: (sqlite3.OperationalError) no such table: happiness_ranks
[SQL: SELECT * FROM happiness_ranks LIMIT 5]
(Background on this error at: http://sqlalche.me/e/e3q8)