In [22]:
# Dependencies
# SQLite
import sqlite3
from sqlite3 import Error

# Python SQL toolkit and Object Relational Mapper
from sqlalchemy import create_engine, func, distinct
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# Pandas
import pandas as pd
import csv

In [19]:

conn = sqlite3.connect('happyRanks.sqlite')
c = conn.cursor()
c.execute('''CREATE TABLE RANKINGS
            ([generated_id] INTEGER PRIMARY KEY,
            [overall_rank] INTEGER,
            [country] TEXT,
            [score] FLOAT,
            [gdp_per_capita] FLOAT,
            [social_support] FLOAT,
            [healthy_life_expectancy] FLOAT,
            [freedom_to_choose] FLOAT,
            [generosity] FLOAT,
            [perception_of_corruption] FLOAT,
            [latitude] FLOAT,
            [longitude] FLOAT)''')
conn.commit()

In [20]:
import pandas as pd

happy_df = pd.read_csv(r'C:\Users\Rudy\Desktop\happiness-project\Happiness\data\2019_world_happy_rankings.csv')
happy_df.head()

,overall_rank,country,score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_choose,generosity,perception_of_corruption,latitude,longitude
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,NaN,NaN
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,NaN,NaN
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,NaN,NaN
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,NaN,NaN
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,NaN,NaN

In [32]:
read_rankings = happy_df.to_sql('RANKINGS', conn, if_exists='append', index = False)

In [23]:
happy_database_path = 'happyRanks.sqlite'
engine = create_engine(f"sqlite:///{happy_database_path}", echo=False)
conn = engine.connect()

In [24]:
# Create Rankings Class
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

# Object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()
Base.metadata.create_all(engine)

In [25]:
# Create a session to connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [26]:
Base.metadata.tables

immutabledict({})