In [49]:
# Dependencies
# SQLite
import sqlite3
from sqlite3 import Error

# Python SQL toolkit and Object Relational Mapper
from sqlalchemy import create_engine, func, distinct
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# Pandas
import pandas as pd
import csv

In [39]:
# Using Pandas to import csv to sqlite database
conn = sqlite3.connect('happiness_ranks.sqlite')
c = conn.cursor()
# load data
happy_df = pd.read_csv(r'C:\Users\Rudy\Desktop\happiness-project\Happiness\data\2019_world_happy_rankings.csv')
# strip whitespace from headers
happy_df.columns = happy_df.columns.str.strip()
# drop data into database
happy_df.to_sql('Rankings', conn, if_exists='append', index=False)

conn.close()

In [50]:
happy_database_path = 'happiness_ranks.sqlite'
engine = create_engine(f"sqlite:///{happy_database_path}")
conn = engine.connect()

In [51]:
# Query ALL records in the Happiness Rankings table
happy_data = pd.read_sql("SELECT * FROM Rankings", conn)
happy_data.head(3)

,Overall rank,country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,latitude,longitude
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,NaN,NaN
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,NaN,NaN
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,NaN,NaN

In [52]:
# Create Rankings Class
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

# Object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()
Base.metadata.create_all(engine)

In [53]:
# Create a session to connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [55]:
# Class to serve as anchor point for the table
class Rankings(Base):
    __tablename__ = 'rankings'
    rank = Column(Integer, primary_key=True)
    Country = Column(String(255))
    Score = Column(Float)
    gdp_per_capita = Column(Float)
    social_support = Column(Float)
    life_expectancy = Column(Float)
    Freedom_to_choose = Column(Float)
    Generosity = Column(Float)
    Perception_of_corruption = Column(Float)

In [56]:
Base.metadata.tables

immutabledict({'rankings': Table('rankings', MetaData(bind=None), Column('rank', Integer(), table=<rankings>, primary_key=True, nullable=False), Column('Country', String(length=255), table=<rankings>), Column('Score', Float(), table=<rankings>), Column('gdp_per_capita', Float(), table=<rankings>), Column('social_support', Float(), table=<rankings>), Column('life_expectancy', Float(), table=<rankings>), Column('Freedom_to_choose', Float(), table=<rankings>), Column('Generosity', Float(), table=<rankings>), Column('Perception_of_corruption', Float(), table=<rankings>), schema=None)})

In [61]:
Base.prepare(engine, reflect=True)

AttributeError: type object 'Base' has no attribute 'prepare'

In [60]:
Base.classes.keys()

AttributeError: type object 'Base' has no attribute 'classes'

In [59]:
session.add(Rankings)
session.commit()

UnmappedInstanceError: Class 'sqlalchemy.ext.declarative.api.DeclarativeMeta' is not mapped; was a class (__main__.Rankings) supplied where an instance was required?

In [ ]:
ranks = session.query(Rankings)
for rank in ranks:
    print(rank.Country)