In [4]:
# Dependencies
# SQLite
import sqlite3
from sqlite3 import Error

# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

# Pandas
import pandas as pd
import csv

In [7]:
# Using Pandas to import csv to sqlite database

# load data
happy_df = pd.read_csv(r'C:\Users\Rudy\Desktop\DataViz\projects\happiness-project\assets\data\2019_world_happy_rankings.csv')

# strip whitespace from headers
happy_df.columns = happy_df.columns.str.strip()

conn = sqlite3.connect('happy_ranks.sqlite')

# drop data into database
happy_df.to_sql('Rankings', conn, if_exists='append', index=False)

conn.close()

In [9]:
happy_df.head(15)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278

In [ ]:
# # Creating Rankings class
# # -----------------------
# class Rankings(Base):
#     __tablename__ = 'rankings'
#     overall_rank = Column(Integer)
#     country_or_region = Column(String(255))